.button,
button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button.alert,
button.alert,
input[type="submit"].alert {
  background: $alert-base-color;
  border: none;
  cursor: pointer;
  font-size: $base-font-size;
  padding: 5px 10px;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  &:hover {
    background-color: lighten($alert-base-color,5);
    color: white;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
