// Mixins
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin cleaner {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

// Extra grid setting
.master-container { width: 100%; }
.wrapper {
  @include outer-container;
  text-align: center;
}

//Common styles
body {
	background:
    radial-gradient(rgba(white,.6), rgba(white,0)),
    linear-gradient(#969aa6, #605c6e) fixed;
  padding: 0;
  margin: 0;
}

header {
  background: image_url('bg-topbar.png') right center no-repeat, linear-gradient(to right, #1671b8, #89daf4);

  h1.logo {
    background: image_url('waterdb-logo.svg') top center no-repeat;
    content: " ";
    display: block;
    float: left;
    height: auto;
    margin: 20px 0;
    width: 150px;
  }

  ul.user-nav-list {
    float: right;
    margin: 20px 0;
    li {
      display: inline-block;
      margin-left: 10px;
      .avatar {
        @include border-radius(50%);
        background: $light-gray;
        border: 2px solid white;
        height: 42px;
        width: 42px;
      }
    }

    &:after { @include cleaner; }
  }
}

footer {
  background: image_url('bg-underwater.jpg') top center no-repeat;
  margin-top: 80px;
  min-height: 400px;
  position: relative;

  hr.waves-primary {
    top: -71px;
    position: absolute;
    width: 100%;
  }
}