// Mixins
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin cleaner {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

// Extra grid setting
.master-container { width: 100%; }
.wrapper {
  @include outer-container;
  text-align: center;
}

//Common styles
.icon {
  @include border-radius(50%);
  background: lighten($medium-gray,40);
  border: 2px solid white;
  height: 42px;
  width: 42px;
  text-align: center;
  vertical-align: middle;
}

.headline {
  padding-top: 40px;
  position: relative;
  h1 { margin-bottom: 10px; }
  .icon-wrapper {
    background: image_url('gph-double-wave-1.svg') center no-repeat;
    left: 50%;  
    margin-left: -75px;
    padding: 15px 0;
    position: absolute;
    top: -38px;
    width: 150px;
    .icon {
      margin: 0 auto;
    }
  }
}

body {
	background:
    radial-gradient(rgba(white,.6), rgba(white,0)),
    linear-gradient(#969aa6, #605c6e) fixed;
  padding: 0;
  margin: 0;
}