footer {
  background: image_url('bg-underwater.jpg') top center no-repeat;
  color: white;
  margin-top: 80px;
  min-height: 400px;
  padding-top: 80px;
  position: relative;

  small {
    color: rgba(white,.5);
    text-transform: uppercase;
  }

  h4 { color: white; }

  p { color: rgba(white,.75); }

  hr.waves-primary {
    top: -71px;
    position: absolute;
    width: 100%;
  }
}