header {
  background: image_url('bg-topbar.png') right center no-repeat, linear-gradient(to right, #1671b8, #89daf4);

  h1.logo {
    background: image_url('waterdb-logo.svg') top center no-repeat;
    content: " ";
    display: block;
    float: left;
    height: auto;
    margin: 20px 0;
    width: 150px;
  }

  ul.user-nav-list {
    float: right;
    margin: 20px 0;
    li {
      display: inline-block;
      margin-left: 10px;

      &.menu-top {
        .menu_icon { cursor: pointer; }

        ul.user-nav-secondary {
          @include border-radius(3px);
          background: white;
          display: none;
          position: absolute;
          right: 0;
          z-index: 99;
          li {
            display: block;
            padding: 10px;
          }
        }

        &:hover {
          ul.user-nav-secondary { display: block; }
        }
      }
    }

    &:after { @include cleaner; }
  }
}