.content-list {
  li {
    @include span-columns(4);
    @include omega(3n);
    @include border-radius(5px);
    margin-bottom: 30px;

    article {
      @include border-radius(5px 5px 0 0);
      background: white;
      padding: 30px;
      text-align: center;

      h2 {
        font-size: 22px;
        font-weight: bold;
      }
    }

    .content-footer {
      @include border-radius(0 0 5px 5px);
      background: $light-gray;
      padding: 0 30px 30px 30px;
      text-align: left;

      em {
        @include border-radius(50%);
        background: lighten($medium-gray,40);
        border: 2px solid white;
        color: white;
        display: inline-block;
        font-size: 24px;
        font-style: normal;
        font-weight: bold;
        height: 42px;
        line-height: 28px;
        text-align: center;
        vertical-align: middle;
        width: 42px;
      }
      label {
        display: inline-block;
        font-size: 12px;
        font-weight: normal;
        text-transform: uppercase;
      }
      a {
        display: inline-block;
        font-size: 12px;
      }
    }
  }
}