.content-list {
  li {
    @include span-columns(4);
    @include omega(3n);
    @include border-radius(5px);
  
    background: white;
    margin-bottom: 30px;
    padding: 30px;
    text-align: center;

    h2 {
      font-size: 22px;
      font-weight: bold;
    }
  }
}