.icon-section {
  display: block;
}

.content-box {
  @include border-radius(5px);
  margin-bottom: 30px;

  article {
    @include border-radius(5px 5px 0 0);
    background: white;
    min-height: 320px;
    padding: 50px;
    text-align: center;

    p {
      font-size: 18px;
      text-align: left;
    }

    small {
      color: $light-gray;
      font-size: 16px;
    }

    hr.waves-secondary {
      margin: 5px 30%;
    }

    ul.content-actions-list {
      display: block;
      li {
        border-right: 1px solid $light-gray;
        display: inline-block;
        padding: 0 10px;
        &:last-of-type { border: 0; }
      }
    }
  }

  .content-footer {
    @include border-radius(0 0 5px 5px);
    background: $light-gray;
    padding: 50px;
    text-align: left;

    .button.alert { margin-left: 10px; }

    h3 {
      border-bottom: 1px solid darken($light-gray,5);
      margin-bottom: 10px;
      padding-bottom: 10px;
      text-align: center;
    }

    form.form-attachment {
      display: block;
      margin: 0;
      padding-top: 0;

      //Progress plugin
      .file-wrapper {
        display: block;

        &:after { @include cleaner; }

        .progress-bar {
          @include border-radius(3px);
          background: $blue;
          color: white;
        }

        .s3ff_fileinput_wrap {
          display: inline-block;
          float: left;
          margin: 0 !important;
          width: 50%;
        }
        
        label.s3ff_fileinput_label {
          display: inline-block;
          float: left;
          margin: 0 !important;
          text-align: right;
          width: 50% !important;
        }
      }

      input[type='submit'] {
        display: block;
        margin: 0;
      }
    }

    ul.attachment-list {
      li {
        border-bottom: 1px solid lighten($medium-gray,30);
        margin-bottom: 10px;
        padding-bottom: 10px;

        &:last-of-type {
          border: none;
          margin: 0;
          padding: 0;
        }

        .attachment {
          float: left;
          width: 10%;
        }

        label {
          float: left;
          margin-top: 10px;
          width: 50%;
        }

        .actions {
          float: right;
          margin-top: 10px;
          text-align: right;
          width: 30%;
        }

        &:after { @include cleaner; }
      }
    }
  }
}

.content-list {
  li.content-box {
    @include span-columns(4);
    @include omega(3n);

    article {
      padding: 30px;
      h2 {
        font-size: 22px;
        font-weight: bold;
        a {
          color: $dark-gray;
          &:hover { color: $blue; }
        }
      }

      p {
        font-size: 16px;
        font-style: italic;
        text-align: center;
      }

      hr.waves-secondary {
        margin: 5px 25%;
      }

      ul.content-actions-list { margin-bottom: 20px; }
    }

    .content-footer {
      padding: 0 30px 50px 30px;

      .attachment {
        float: left;
        margin-right: 10px;
        margin-top: -21px;

        .icon {
          color: white;
          display: inline-block;
          font-size: 24px;
          font-style: normal;
          font-weight: bold;
          line-height: 28px;
        }
      }

      .attachment-label {
        float: left;
        margin-top: -18px;

        label {
          display: block;
          font-size: 12px;
          font-weight: normal;
          margin-bottom: 0;
          text-transform: uppercase;
        }
        a {
          display: block;
          font-size: 14px;
          margin-bottom: 0;
        }
      }
    }
  }
}