nav.search-bar {
  border-bottom: 1px dashed $medium-gray;
  border-top: 1px solid rgba(white,.25);
  margin-bottom: 0;

  ul.alphabetic-list {
    float: left;
    margin: 10px 0;

    li {
      display: inline-block;
      a {
        @include border-radius(10px);
        display: block;
        height: 22px;
        min-width: 22px;
        color: white;
        font-size: 14px;
        padding: 1px 5px;
        text-transform: uppercase;

        &.current,
        &:hover {
          background: $deep-blue;
        }

        &.alphabetic-reset { text-transform: none; }
      }
    }
  }

  form.search-form {
    @include border-radius(3px);
    border: 2px solid white;
    float: right;
    margin: 5px 0;
    padding: 0;
    position: relative;

    input[type='text'] {
      background: none;
      border: none;
      color: white;
      margin: 0;
      padding: 5px 8px;

      &:active,
      &:focus,
      &:hover {
        background: rgba($dark-gray,.1);
        border: none;
        outline: 0;
      }

      &::-webkit-input-placeholder {
         font-style: italic;
      }
      &:-moz-placeholder { /* Firefox 18- */
         font-style: italic;
      }
      &::-moz-placeholder {  /* Firefox 19+ */
         font-style: italic;
      }
      &:-ms-input-placeholder {
         font-style: italic;
      }
    }

    input[type='submit'] {
      background: none;
      border: none;
      margin: 0;
      padding: 5px 8px;
      position: absolute;
      right: 0;
      top: 0;
    }

    &:after { @include cleaner; }
  }
}